<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a routerLink="/">
      FashBash - v2
    </a></h5>
  <input (input)="search($event.target.value)">
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/" routerLinkActive="active">Home</a>
    <a class="p-2 text-dark" routerLink="/cart" routerLinkActive="active">My Shopping Cart</a>
    <a class="p-2 text-dark" (click)="numClicked()">Num of item in cart: {{num}}</a>
  </nav>

  <a class="btn btn-outline-primary" routerLink="/login">Sign up</a>
</div>

<div *ngFor="let item of itemsSearchResult">
  {{item.description}}
</div>