<form class="form-signin" #form="ngForm" (ngSubmit)="submit(form)">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" class="form-control" placeholder="Email address" 
  ngModel name="email" required email #inputemail="ngModel">
  <small class="error"
  *ngIf="inputemail.invalid && inputemail.touched && inputemail.hasError('required')">Email is required</small>
  <small class="error"
  *ngIf="inputemail.invalid && inputemail.touched && inputemail.hasError('email')">Invalid Email format</small>
  
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" class="form-control" placeholder="Password" ngModel
  name="password" required   >
  
  <button class="btn btn-lg btn-primary btn-block" type="submit"
  [disabled]="!form.valid">Sign in</button>
  
</form>